In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Titanic-Dataset.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
print("First 5 rows:")
display(df.head())

print("\nLast 5 rows:")
display(df.tail())

First 5 rows:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Last 5 rows:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [5]:
print("Dataset shape (rows, columns):", df.shape)
print("\nColumn names:")
print(df.columns.tolist())

Dataset shape (rows, columns): (891, 12)

Column names:
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
missing = df.isnull().sum().sort_values(ascending=False)
missing_percent = (missing / len(df) * 100).round(2)

missing_df = pd.DataFrame({
    "missing_count": missing,
    "missing_percent": missing_percent
})

missing_df

             missing_count  missing_percent
Cabin                  687            77.10
Age                    177            19.87
Embarked                 2             0.22
PassengerId              0             0.00
Name                     0             0.00
Pclass                   0             0.00
Survived                 0             0.00
Sex                      0             0.00
Parch                    0             0.00
SibSp                    0             0.00
Fare                     0             0.00
Ticket                   0             0.00

In [9]:
numerical_features = ["Age", "Fare", "SibSp", "Parch"]
categorical_features = ["Sex", "Embarked", "Ticket", "Cabin", "Name"]
ordinal_features = ["Pclass"]
binary_features = ["Survived"]

print("Numerical features:", numerical_features)
print("Categorical features:", categorical_features)
print("Ordinal features:", ordinal_features)
print("Binary features:", binary_features)

Numerical features: ['Age', 'Fare', 'SibSp', 'Parch']
Categorical features: ['Sex', 'Embarked', 'Ticket', 'Cabin', 'Name']
Ordinal features: ['Pclass']
Binary features: ['Survived']

In [10]:
cat_cols = ["Sex", "Embarked", "Pclass"]

for col in cat_cols:
    print(f"\n--- {col} ---")
    display(df[col].value_counts(dropna=False))

--- Sex ---

Sex
male      577
female    314
Name: count, dtype: int64

--- Embarked ---

Embarked
S      644
C      168
Q       77
NaN      2
Name: count, dtype: int64

--- Pclass ---

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [11]:
target = "Survived"
print("Target variable:", target)

counts = df[target].value_counts()
ratio = (df[target].value_counts(normalize=True) * 100).round(2)

display(pd.DataFrame({"count": counts, "percent": ratio}))

print("\nObservation: If one class is much higher than the other, it indicates imbalance.")

Target variable: Survived

          count  percent
Survived
0           549    61.62
1           342    38.38

Observation: If one class is much higher than the other, it indicates imbalance.

In [12]:
print("ML Readiness Observations:")
print("""
1) Target variable: Survived (binary classification).
2) Missing values: Age, Cabin, Embarked require handling.
3) Categorical variables: Sex, Embarked, Ticket, Cabin, Name need encoding or feature engineering.
4) Potential imbalance: survival classes are not equal.
5) Dataset size (891 rows): sufficient for classic ML models, not ideal for deep learning.
""")

ML Readiness Observations:

1) Target variable: Survived (binary classification).
2) Missing values: Age, Cabin, Embarked require handling.
3) Categorical variables: Sex, Embarked, Ticket, Cabin, Name need encoding or feature engineering.
4) Potential imbalance: survival classes are not equal.
5) Dataset size (891 rows): sufficient for classic ML models, not ideal for deep learning.